
[class^="col"]{
    background-color: #006cfa;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.nasted{
    background-color: lime;
}