
[class^="col"]{
    background-color: #006cfa;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.nasted{
    background-color: lime;
    padding: 2em;
}

.nasted-2{
    flex-basis: calc(((100% / 12) * 2) - 4em);
}

.nasted-8{
    flex-basis: calc(((100% / 12) * 8) - 4em);
}

.container{
    margin-bottom: 1.3em;
    margin-top: .5em;
}



